# SQL Server Connection
SQL_SERVER=SRV-TABLEAUDWH
SQL_DATABASE=DATAENTRY
SQL_USERNAME=AnalyticsBi
SQL_PASSWORD=D4t4.B1#25

# Ollama Configuration
OLLAMA_MODEL=llama3.2
OLLAMA_HOST=http://localhost:11434
OLLAMA_TIMEOUT=300.0
OLLAMA_CONTEXT_SIZE=8192
OLLAMA_NUM_GPU=1
OLLAMA_NUM_THREAD=4
OLLAMA_TEMPERATURE=0.1

# ChromaDB Configuration
CHROMADB_DIR=./chromadb_data

# Flask Settings
FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000
